*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #ececec;
}

.container{
  background-color: #4875d0;
  width: 80vmin;
  max-width: 37.5em;
  padding: 3em 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 0.1em 0.1em 0.5em #686666;
}

h2{
  font-size: 1.8em;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 1.3em;

}

label{
  color:#e5e5e5;
  display:block;
  margin-bottom:0.5em;
  font-weight: 500;
}

.wrapper{
  display:flex;
  justify-content:space-between;
  gap: 1.8em;
}

input{
  position: relative;
  font-size: 1.2em;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.2em;
  border: 1.5px solid #a5b2e8;
  color:#4d5d9f;
  outline: none;
}

input:focus{
  border-color: #a5b2e8;
}

.title{
  padding: 10px;
}

#error-msg{
  text-align: center;
  margin-top: 1.25em;
  color: #f6453c;
  font-weight: bold;
}